@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


@font-face {
  font-family: 'SFPro';
  src: url('./SFPro/SF-Pro-Text-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url('./SFPro/SF-Pro-Text-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: 'SFPro';
  src: url('./SFPro/SF-Pro-Text-LightItalic.otf') format('opentype');
  font-weight: italic;
  font-style: italic;
}

@font-face {
  font-family: 'SFPro';
  src: url('./SFPro/SF-Pro-Text-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}



html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('toronto-vert.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: 'Roboto', sans-serif;
}
.content-container {
  position: relative;
  z-index: 3; /* To ensure it's above the fixed background */
  overflow-y: auto; /* Enables scrolling */
  height: 100%; /* Adjust as necessary */
}


.body.blurred-background {
  filter: blur(5px); 
}

.body::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, 
    rgb(116, 56, 38, 0.5), /* #ee7752 with 50% opacity */
    rgb(105, 27, 57, 0.5), /* #e73c7e with 50% opacity */
    rgb(17, 79, 102, 0.5), /* #23a6d5 with 50% opacity */
    rgb(16, 97, 78, 0.5) /* #23d5ab with 50% opacity */
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  content: '';
  z-index: 2; 
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.image-car {
  display: flex;
  justify-content: center; /* Aligns horizontally center */
  align-items: center; /* Aligns vertically center */
  border-radius: 20px;
}

.header{
  
  background-image: url('toronto-vert.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: fixed;
  max-height: 105px;
  display: flex;
  align-items: center;
  top: 0px;
  width: 100%;
  padding: 0 10px;
} 

.headerText{
  padding-right: 5%; /* Adjusted for relative sizing */
  font-family: 'SFPro';
  font-weight: normal;
  font-size: 40px;
  font-weight: bold;
  color: white;
  transition: color 0.2s ease-in-out; /* Removed transform transition */
}

.headerText:hover{
  color: rgb(255, 253, 130);
  /* Removed transform: scale(1.05); to avoid resizing on hover */
}

.nameButton {
  font-family: 'SFPro'; /* ensure SFPro is used */
  margin-right: 390px;
  font-size: 40px;
  color: white;
  background-color: transparent;
  border-radius: 15px;
  width: 400px;
  height: 100px;
  border: none;
  cursor: pointer;
  
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nameButton:hover{
  color: rgb(255, 253, 130);
  transform: scale(1.05);
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  align-items: center;
  flex-grow: 1; /* Allows the container to take up all available space */
  gap: 20px; /* This sets a consistent space between each button */
}

.button {
  font-style: italic;
  font-family: 'SFPro'; 
  font-size: 200%;
  color: white; /* Default color */
  background-color: transparent;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  width: 200px;
  height: 100px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:hover{
  color: rgb(255, 253, 130);
  transform: scale(1.05);
}
.content-title{
  z-index: 3;
  padding-top: 60px;
  margin-left: 275px;
  text-shadow: 1px 1px 60px black;  
  text-align: left;
  font-family: 'SFPro';
  font-weight: bold;
  font-style: italic;
  font-size: 100px;
  color: white;
}

.button.active {
  color: rgb(255, 238, 0);
  transform: scale(1.05);
}

.project-title{
  z-index: 3;
  text-shadow: 1px 1px 60px black;  
  text-align: center;
  font-family: 'SFPro';
  font-weight: bold;
  font-size: 60px;
  color: white;
}


.content-text {
  z-index: 3;
  font-family: 'SFPro';
  margin-left: 300px;
  margin-right: 300px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-bottom: 100px;
  text-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);

}

.content-text1 {
  z-index: 3;
  font-family: 'SFPro';
  margin-left: 50px;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 30px;
  margin-bottom: 70px;
  color: white;
  text-shadow: 1px 1px 2px black;

}

.content-text2 {
  z-index: 3;
  font-family: 'SFPro';
  margin-left: 50px;
  font-size: 30px;
  font-weight: italic;
  margin-bottom: 70px;
  color: white;
  font-style: italic;

}

.job-title {
  z-index: 3;
  font-family: 'SFPro';
  margin-left: 50px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;

}

.content-section {
  transform: scale(0.8);
  padding-right: 150px;
  padding-left: 150px;

  position: relative;
  transition: opacity 0.5s ease-in-out;
  color: white;
  text-align: center;
  z-index: 4;
  opacity: 0;
}

.content-section.active {
  z-index: 5;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}


.title, .text {
  text-align: center;
  margin-bottom: 2rem;
}

.text {
  font-size: 1.25rem;
}

